@charset "utf-8";
#myCarousel2.thumbnails {
	margin-left:0px !important;
	height:236px;
	overflow:hidden;
}
#myCarousel2.thumbnails > li > p {
	margin-bottom:0 !important;
	height: 200px;
	overflow:hidden;
}
#myCarousel2.thumbnails > li {
	margin-bottom: 8px !important;
	margin-left:4px !important;
}
#myCarousel2.carousel-control.left {
	left: -15px !important;
}
#myCarousel2.carousel-control.right {
	right: 25px !important;
}
#myCarousel2.carousel {
	margin-bottom:0px !important;
}
#scrollbar1 {
	margin: 0 !important;
}
.hero-unit p {
	font-size: 12px !important;
}
#div_items.hero-unit {
	height:240px;
	overflow:hidden;
	padding: 20px;
	position:relative;
}
#div_items .more {
	font-size:12px;
	position:absolute;
	right:10px;
}
ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
li.tab_list {
	line-height: 24px;
}
.more, ul li a {
	color: #0066CC;
	height: 16px;
	margin-right: 5px;
	margin-top: 10px;
}
.more:hover, ul li a:hover {
	color: #CC0000;
}
ul li a, .more:focus {
	outline: medium none;
}
.display_content {
	background:#EEEEEE !important;
}
.nav {
	margin-bottom: 0 !important;
}
.tab1 {
	padding-top: 8px;
	padding-left: 16px;
	margin-bottom: 8px;
	border-left: 1px solid #DBDADA;
	border-right: 1px solid #DBDADA;
	border-bottom: 1px solid #DBDADA;
	min-height: 60px;
	max-height:300px;
	overflow:hidden;
}
.head1 {
	color: #CC0000;
	font-size: 14px;
	font-weight:bold;
	border-bottom: 1px dotted #DBDADA;
	padding-top:6px;
	padding-bottom:6px;
	margin-bottom:6px;
}
.head1:hover {
	color: #999999;
}
.head2 {
	color: #CC0000;
	font-size: 14px;
	font-weight:bold;
	padding-top:6px;
	padding-bottom:6px;
	margin-bottom:6px;
}
.head2:hover {
	color: #999999;
}
ul.tab2 {
	height:250px;
	min-height: 100px;
	max-height:300px;
	overflow:hidden;
}
#div_latest, #div_hot {
	/*border: 1px solid #DBDADA;*/
    line-height: 27px;
	padding: 0 8px;
	width: 280px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #458FCE #D2E1F1 #D2E1F1;
	border-right: 1px solid #D2E1F1;
	border-style: solid;
	border-width: 1px;
}
.box {
    background-color: #E0EAF1;
    color: #3E6D8E;
    font-size: 90%;
    line-height: 1.8;
    margin: 20px;
	text-align:center;
	padding:10px;
}
.box p {
	margin-top:12px;
}
.box2 {
	margin-top:6px;
}
.box5 {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #D2E1F1;
	border-right: 1px solid #D2E1F1;
	border-style: solid;
	border-width: 1px;
	border-top: 1px solid #DBDADA;
	overflow:hidden;
	margin-top:20px;
}
#div_display {
	padding: 4px;
	overflow:scroll;
	height:800px;
	max-height:1000px;
}
.li3 {
	padding:6px 0 4px 20px;
}
.li3 a:active {
    background: none repeat scroll 0 0 #BBBBBB;
}
.li3 a:visited {
	color: red !important;
	border-color: #0066CC !important;
	text-decoration: none;
}
/*
li.li3:nth-child(odd) {}
li.li3:nth-child(even) {
	background-color: #FCFCE8;
}
*/
.nav > li.li3 > a {
	display:inline !important;
}
.pager1 {
	display: block;
	float: right;
	font-size: 11px;
	font-weight: bold;
	margin-right: -5px;
	margin-top: 19px;
	padding: 0 30px 15px 0;
	text-align: right;
	width: 400px;
}
.pager-bottom {
	padding-top:6px;
}
.pager1 a {
	background: url("../images/pager.png") no-repeat scroll 0 0 transparent;
	/*color: #434343 !important;*/
	padding: 5px 6px;
	text-align: center;
}
#ie7 .pager1 a, #ie7 .pager1 a.selected, #ie7 .bigPagerButton {
	line-height:23px;
}
.pager1 a.selected {
	color:#fff !important;
	background-position:0 -25px
}
.bigPagerButton {
	background-position: -26px 0 !important;
	margin: 0;
	padding: 5px 12px !important;
	text-align: center !important;
}
.carousel-caption {
	opacity:0.5;
	color: #4084F9 !important;
}
.carousel-caption h4 {
	font-size: 16px;
	font-weight:bold;
	color: #E1FC11;
}
.guanzhu .renshu {
	color: #999999;
    font-size: 11px;
}
#TabContent1 ul {
	position:relative;
}
#TabContent1 .guanzhu .renshu {
    position: absolute;
    right: 10px;
}
.hr1 {
	border-top: 1px dotted #999;
	margin-top: 5px;
}
div.container .label-warning {
	font-size: 14px;
	padding: 4px;
}
.curtime {
	color: #C09853;
}
ul li .bshare-custom {
	margin-top: -10px;
}
#footer .btn-group.sitemap > .btn {
	margin-right:4px;
}
#menu .btn-group > .btn {
	margin-right:4px;
}
#form_fayan legend {
	margin-bottom:0;
}
#change-image { 
	font-size: 0.8em;
}
#result {
	float:right;
	padding-right:10px;
	font-weight:bolder;
}
#keylist.pager {
	text-align:left;
	margin-bottom: 0px;
	margin-top: -10px;
}
li.previous a {
	margin-left: 50px;
}
li.next a {
	margin-right:40px;
}