@charset "utf-8";
fieldset legend {
  text-decoration:underline;
  cursor:pointer;
  cursor:hand;
}
input:focus, textarea:focus, select:focus{
  background-color: lightyellow;
}
table tbody tr:hover{
	background-color: #e1eafe;
}
table tbody tr th span{
	border-bottom-color:#0000CC;
	border-bottom-style:dotted;
	border-bottom-width:medium;
}
div.ajaxloading {
    height: 32px; 
    width: 32px;
    background-color: #fff;
    background-image: url('images/spinner.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
}
div.ajaxloading * {
    opacity: .8;
}
a:hover {
    box-shadow: 2px 2px 2px #888888;
    text-decoration: underline;
}
a:active {
    background: none repeat scroll 0 0 #BBBBBB;
}
.box {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}
.box:hover {
    background-color: #3E6D8E;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    color: #E0EAF1;
    text-decoration: none;
}
/*************/
body {
	width: 60em;
	margin: 0 auto;
	box-shadow: 0 0 1em #000;
	background: #eee;
}
#container {
	padding: 2em;
}
header {
	margin:2em 0;
	border-bottom:1px dotted;
	padding-bottom:1em;
	text-align:center;
}
header a{
}
header a:hover {
	color:#036;
	border-bottom: 1px dotted;
}
footer {
}
footer p {
}

section {}
section > article {
	float:left;
	width:32%;
	margin-right: 2%;
}
section > article:last-child {
	margin-right: 0;
}
/* william */
section > article:first-child {
	margin-left: 0;
}

p.banner {
	background-image: url();
	background-repeat:repeat;
	width: 100%;
	height:400px;
	margin-bottom:1em;
}