#mainnav.nav {
	background-image: url(../images/qqbg_1.5.2.png);
	background-repeat: no-repeat;
}
#mainnav.nav div .navMore, #mainnav.nav div .navMore:hover {
	background-image: url(../images/icobg_1.0.png);
	background-repeat: no-repeat;
}
#mainnav.nav {
	background-position: left -35px;
	font-size: 12px;
	height: 38px;
	line-height: 22px;
	margin: 0 auto;
	overflow: hidden;
	padding: 9px 5px 13px 8px;
	width: 987px;
}
#mainnav.nav a {
	color: #FFFFFF;
	margin: 0 4px 0 3px;
	padding: 3px;
}
#mainnav.nav a:hover {
	background: none repeat scroll 0 0 #CAE1EE;
	color: #0D519C;
	text-decoration: none;
}
#mainnav.nav div {
	float: left;
	padding: 0 6px 0 7px;
	text-align: left;
	width: 156px;
}
#mainnav.nav div .navMore {
	background-position: 30px -175px;
	padding-right: 14px;
}
#mainnav.nav div .navMore:hover {
	background-color: #CAE1EE;
	background-position: 30px -205px;
	padding-right: 14px;
}
#mainnav.nav a.Q-yellow {
	color: #FFCC00;
}
#mainnav.nav a.Q-yellow:hover {
	color: #0D519C;
}
