
.x-small {
    font-size: 77%;
}
.small {
    font-size: 85%;
}
.med-small {
    font-size: 93%;
}
.medium {
    font-size: 100%;
}
.med-large {
    font-size: 108%;
}
.large {
    font-size: 116%;
}
.x-large {
    font-size: 123.1%;
}
.x2-large {
    font-size: 131%;
}
.x3-large {
    font-size: 138.5%;
}
.x5-large {
    font-size: 153.9%;
}
.x7-large {
    font-size: 167%;
}
.x9-large {
    font-size: 182%;
}
.strong {
    font-weight: bold;
}
.hide-offscreen {
    position: absolute;
    top: -999em;
}
.hide-textindent {
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-indent: -999em;
}
.y-glbl-mod-grad, .mod-bg-elements-img {
    background: url("http://l1.yimg.com/a/i/ww/met/th/default/gsprite_mod_default_103008.gif") repeat-x scroll 0 0 transparent;
}
.y-glbl-universal-grad, .framework-img {
    background: url("http://l1.yimg.com/a/i/ww/met/gsprite_20100302.png") repeat-x scroll 0 0 transparent;
}
.y-glbl-mod-controls, .elements-img {
    background: url("http://l1.yimg.com/a/i/ww/met/th/default/sprite_default_20100720_ltr.png") no-repeat scroll 0 0 transparent;
}
.y-glbl-ltdrk, .mod-action-icons {
    background: url("http://l1.yimg.com/a/i/ww/met/sprite_ltdrk_20091211_ltr.png") no-repeat scroll 0 0 transparent;
}
.y-glbl-universal, .util-img {
    background: url("http://l1.yimg.com/a/i/ww/met/sprite_pg_20100719_ltr.png") no-repeat scroll 0 0 transparent;
}
.y-glbl-properties {
    background: url("http://l1.yimg.com/a/i/ww/met/sprite_trough_01222009b_ltr.gif") no-repeat scroll 0 0 transparent;
}
.y-glbl-srch-bg-img {
    background: url("http://l1.yimg.com/a/i/ww/met/th/slate/tab_grd_pg_slate_ltr_20111025.png") repeat-x scroll 0 0 #DDE3E8;
}
.y-glbl-tab-bg-img {
    background-image: url("http://l1.yimg.com/a/i/ww/met/th/slate/tab_grd_pg_slate_ltr_20111025.png");
}
.mod .mod-bdr {
    border: 1px solid #93B9D9;
}
.mod .mod-alt-bdr {
    border: 1px solid #E6EFF7;
}
.mod .mod-bgcolor {
    background: none repeat scroll 0 0 #FFFFFF;
}
.mod .link-color {
    color: #16387C;
}
.mod .sub-hd {
    background: url("http://l1.yimg.com/a/i/ww/met/th/default/gsprite_mod_default_103008.gif") repeat-x scroll 0 0 #B1CCE3;
    color: #333333;
}
.mod .sub-hd a:link, .mod .sub-hd a:visited, .mod .sub-hd a {
    color: #333333;
}
.mod .alt-bg-color {
    background: none repeat scroll 0 0 #E6EFF7;
}
.mod a.alt-text-color, .mod .alt-text-color {
    color: #999999;
}
.mod .reverse-bg-color {
    background: none repeat scroll 0 0 #16387C;
}
.mod a.text-color, .mod .text-color {
    color: #333333;
}
.mod a.reverse-text-color, .mod .reverse-text-color {
    color: #FFFFFF;
}
.mod .divider {
    border: 1px solid #93B9D9;
}
.mod .divider-l {
    border-left: 1px solid #93B9D9;
}
.mod .divider-r {
    border-right: 1px solid #93B9D9;
}
.mod .divider-t {
    border-top: 1px solid #93B9D9;
}
.mod .divider-b {
    border-bottom: 1px solid #93B9D9;
}
.mod .line-h {
    border: 1px solid #ADC9E8;
}
.mod .line-h-t {
    border-top: 1px solid #ADC9E8;
}
.mod .line-h-r {
    border-right: 1px solid #ADC9E8;
}
.mod .line-h-b {
    border-bottom: 1px solid #ADC9E8;
}
.mod .line-h-l {
    border-left: 1px solid #ADC9E8;
}
.mod .line-l {
    border: 1px solid #93B9D9;
}
.mod .line-l-t {
    border-top: 1px solid #93B9D9;
}
.mod .line-l-r {
    border-right: 1px solid #93B9D9;
}
.mod .line-l-b {
    border-bottom: 1px solid #93B9D9;
}
.mod .line-l-l {
    border-left: 1px solid #93B9D9;
}
.y-bg-1 {
    background-color: #FFFFFF;
}
.y-bg-2 {
    background-color: #F9FAFA;
}
.y-bg-3 {
    background-color: #EFF3F5;
}
.y-bg-4 {
    background-color: #DBE1E6;
}
.y-bg-5 {
    background-color: #A1ADB9;
}
.y-bg-6 {
    background-color: #C5CED7;
}
.y-bg-7 {
    background-color: #E9EEF1;
}
.y-bg-8 {
    background-color: #31485C;
}
.y-bg-9 {
    background-color: #EEF2F4;
}
.y-bg-hilite {
    background-color: #56758E;
}
.tab-user:hover, .tab-mail:hover {
    background-color: #FFFFFF;
}
.pv-email:hover, .pv-tuc:hover {
    background-color: #EAEFF2;
}
.y-lang-tgl {
}
.y-pv-view-bg {
    background-color: #DDE3E8;
    background-image: -moz-linear-gradient(center top , #FEFEFE, #DBE2E8);
}
.y-ln-1 {
    border-color: #B9C7D3;
}
.y-ln-2 {
    border-color: #C5CED7;
}
.y-ln-3 {
    border-color: #A1ADB9;
}
.y-ln-4 {
    border-color: #2D4458;
}
.y-ln-5 {
    border-color: #EFF3F5;
}
.y-ln-6 {
    border-color: #FFFFFF;
}
.y-ln-accent {
    border-color: #731A8B;
}
.y-srch-brdr {
    border-color: #C2CDCD #A4B5B8 #7C9398;
    border-style: solid;
    border-width: 1px;
}
.y-tbar-brdr {
    border: 1px solid #B9C7D3;
}
.y-tbar-brdr-clr {
    border-color: #B9C7D3;
}
.y-tbar-brdr-b {
    border-bottom: 1px solid #B9C7D3;
}
.y-lang-tgl-brdr {
    border: 1px solid #B9C7D3;
}
.y-pv-view-brdr {
    border-bottom: 1px solid #F5F7F9;
    border-top: 1px solid #B9C7D2;
}
.y-txt-1 {
    color: #333333;
}
.y-txt-2 {
    color: #6C717A;
}
.y-txt-3 {
    color: #A1ADB9;
}
.y-txt-4 {
    color: #000000;
}
.y-txt-5 {
    color: #FFFFFF;
}
.y-txt-modhdr {
    color: #333333;
}
.y-txt-accent {
    color: #7D3883;
}
.y-txt-input {
    color: #999999;
}
.y-link-1 {
    color: #16387C;
}
.y-link-2 {
    color: #16387C;
}
.y-link-1-visited {
    color: #5B73A3;
}
.y-link-2-visited {
    color: #5B73A3;
}
a {
    color: #16387C;
}
a:visited {
    color: #5B73A3;
}
a.y-link-2:visited {
    color: #5B73A3;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.ua-ie .clearfix {
}
.loading-spinner {
    background: url("http://l1.yimg.com/a/i/ww/met/anim_loading_sm_082208.gif") no-repeat scroll left 0 transparent;
}
.rtl .loading-spinner {
    background-position: right 0;
}
.ltr .loading-spinner {
    background-position: left 0;
}
a.goto-link:hover {
    text-decoration: none;
}
a.goto-link:hover span.goto {
    text-decoration: underline;
}
.goto-link span.property {
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
}
.goto-link a.property {
    cursor: pointer;
}
.ua-ie7 .goto-link span.property {
    position: relative;
}
.goto-link span.property img {
    vertical-align: middle;
}
.y-txt-modhdr {
    background-color: #FFFFFF;
}
.y-fp-pg-grad {
    background-image: url("http://l1.yimg.com/a/i/ww/met/th/slate/gsprite_pg_slate_20110124.png");
    background-repeat: repeat-x;
}
.y-pg-grad {
    background: -moz-linear-gradient(center top , #FDFDFD, #E8EDF0 1000px) repeat scroll 0 0 #DCE2E7;
}
.y-grad1 {
    background-image: -moz-linear-gradient(center top , #FDFDFD, #E8EDF0);
}
.y-grad2 {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EFF3F5);
}
.y-grad3 {
    background-image: -moz-linear-gradient(center top , #FBFCFD, #EEF2F4);
}
.y-fp-pg-vgrad {
    background-image: none;
    background-repeat: repeat-y;
}
.y-fp-pg-controls {
    background-image: url("http://l1.yimg.com/a/i/ww/met/th/slate/sprite_pg_slate_20111003_ltr.png");
    background-repeat: no-repeat;
}
.y-fp-pg-controls-n:before {
    content: url("http://l1.yimg.com/a/i/ww/met/th/slate/sprite_pg_slate_20111003_ltr.png");
    display: inline-block;
}
.ua-ie .y-fp-pg-controls-n {
    background-image: url("http://l1.yimg.com/a/i/ww/met/th/slate/sprite_pg_slate_20111003_ltr.png");
    background-repeat: no-repeat;
}
.y-fp-pg-controls-nt {
    background-image: url("http://l1.yimg.com/a/i/ww/met/sprite_pg_nontheme_20111020_ltr.png");
    background-repeat: no-repeat;
}
.cta-btn, .cta-btn:visited {
    background: url("http://l1.yimg.com/a/i/ww/met/gsprite_20100302.png") repeat-x scroll 0 -1204px #0868A7 !important;
    border: 1px solid #336699 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    padding: 0.2em 1em;
    text-align: center;
}
.cta-btn-disabled {
    background: none repeat scroll 0 0 #CCCCCC !important;
    border: 1px solid #BBBBBB !important;
    color: #666666 !important;
    font-weight: bold;
    padding: 0 0.3em;
    text-align: center;
}
.cta-btn-ext, .cta-btn-ext:visited {
    background: url("http://l1.yimg.com/a/i/ww/met/gsprite_20100302.png") repeat-x scroll 0 0 #FBA707;
    border: 1px solid #DD9714;
    color: #000000;
    font-weight: bold;
    padding: 0.08em 0.3em;
    text-align: center;
    text-decoration: none;
}
.cancel-btn {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #346697 !important;
    padding: 0 !important;
}
.y-btn-grad1 {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E9EEF1);
}
.y-btn-grad3 {
    background-image: -moz-linear-gradient(center top , #5B748D, #31485C);
}
.y-btn-grad2 {
    background: -moz-linear-gradient(center top , #FFF6A5, #FEE474 50%, #FDD350 50%, #FCC42E) repeat scroll 0 0 #FCC42E;
}
.ua-ie6 .cta-btn, .ua-ie7 .cta-btn, .ua-ie6 .cta-btn-disabled, .ua-ie7 .cta-btn-disabled, .ua-ie6 .cta-btn-ext, .ua-ie7 .cta-btn-ext, .ua-ie6 .cancel-btn, .ua-ie7 .cancel-btn {
    overflow: visible;
}
.y-hdr-ln {
    border-color: #B9C7D3;
}
.y-hdr-txt {
    color: #6C717A;
}
.y-hdr-link {
    color: #16387C;
}
.y-ftr-bg {
    background-color: #FFFFFF;
}
.y-ftr-ln {
    border-color: #B9C7D3;
}
.y-ftr-txt {
    color: #333333;
}
.y-ftr-link {
    color: #16387C;
}
.y-ftr-txt-hdr {
    color: #333333;
}
.y-ftr-link-hdr {
    color: #16387C;
}
.y-subftr-txt {
    color: #6C717A;
}
.y-subftr-link {
    color: #16387C;
}
.y-mast-txt {
    color: #3E4454;
}
.y-mast-link {
    color: #8496B9;
}
.y-mast-ln-lt {
    border-color: #FFFFFF;
}
.y-mast-ln-dk {
    border-color: #C1CAD2;
}
.y-mast-bg {
    border-bottom: 2px solid #E8EDF0;
    border-left: 1px solid #FFFFFF;
}
.y-mast-sprite {
    background: url("http://l1.yimg.com/a/i/ww/met/th/slate/spr_masthd_slate_20100628_ltr.png") no-repeat scroll 0 0 transparent;
}
.y-mast-grad1 {
    background-image: -moz-linear-gradient(center top , #343E50, #1D2532);
}
.y-today-grad1 {
    background-color: #FCFCFD;
    background-image: -moz-linear-gradient(center top , #E8EDF0, #FCFCFD);
}
.y-today-grad2 {
    background-color: #59728B;
    background-image: -moz-linear-gradient(center top , #59728B, #2D4458);
}
.y-today-grad3 {
    background-color: #063160;
    background-image: -moz-linear-gradient(center top , #346694, #063160);
}
.y-today-side-grad {
    background-color: #DBE1E6;
    background-image: -moz-linear-gradient(left center , #B9C7D3, #F4F6F7);
}
.y-news-grad {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #F4F6F7, #FFFFFF);
}
.y-today-ln-1 {
    border-color: #A8B4BF;
}
.ua-ie8 .y-pa-open .y-today-grad1 {
    background: none repeat scroll 0 0 #FCFCFD;
    filter: none;
}
.ua-ie8 .y-pa-open .y-today-grad2 {
    background: none repeat scroll 0 0 #59728B;
    filter: none;
}
.ua-ie8 .y-pa-open .y-today-grad3 {
    background: none repeat scroll 0 0 #063160;
    filter: none;
}
.y-opennews-sprite {
    background-image: none;
}
.y-fp-ln-pg {
    border-color: #B9C7D3;
}
.y-fp-bg {
    background-attachment: scroll;
    background-color: #DCE2E7;
    background-position: 0 -2335px;
    background-repeat: repeat-x;
}
.type_pa .sb .btn-hover a {
    background-color: #EFF3F5;
    border-color: #B9C7D3;
}
.type_pa .sb .btn .do-edit:hover .lbl {
    color: #16387C;
}
.type_pa .sb .edit {
    background-color: #A1ADB9;
    border-color: #2D4458;
}
.type_pa .sb .edit .hd {
    border-color: #2D4458;
}
.type_pa .sb .edit .btn {
    border-color: #A1ADB9;
}
.type_pa .sb .edit .btn a {
    background-color: #EFF3F5;
}
.type_pa .sb .edit .y-sortable a:hover {
    background-color: #FFFFFF;
}
.type_pa .sb .edit .y-sortable-false a, .type_pa .sb .edit .ft, .type_pa .sb .edit .ft a {
    background-color: #A1ADB9;
}
.type_pa .sb .edit .y-sortable-false span.lbl {
    color: #333333;
}
