/*
1. tom.com
2. http://stackoverflow.com/questions/11216940/get-height-of-li-using-jquery-so-news-ticker-scrolls-up-the-exact-amount-needed/11217076#11217076
*/
.iwb {
    margin-top: 6px;
    overflow: hidden;
	font-size:12px;
}
.iwb .newslist {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    overflow: hidden;
}
.iwb .newslist ul {
    overflow: hidden;
}
.iwb .newslist li {
    border-bottom: 1px solid #D9D9D9;
    line-height: 20px;
    margin: 2px auto;
    overflow: hidden;
    padding: 2px 4px 2px;
}
.headline h4 {
    padding-right: 10px;
}
.headline h4 a {
    color: #A5A5A5;
    text-decoration: none;
}
.headline h4 a:hover {
    color: #6E5FE2;
}
.headline .publication-date {
    color: #2C5FAE;
	text-align:right;
	padding-right:10px;
}
.headline .summary {
    color: #A5A5A5;
   /* box-shadow: 2px 2px 2px #888888;*/
}
.box {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}
.box:hover {
    background-color: #3E6D8E;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    color: #E0EAF1;
    text-decoration: none;
}
