body {
    background-color: #DFE8EC;
    background-image: url(page-bg.png);
    background-repeat: repeat-x;
    color: #323232;
    font: 12px/150% Arial,sans-serif;
    margin: 0 auto;
}
#div_form {
	width: 420px;
    margin: 150px auto 0 auto;
	position: relative;
}
form#form_id {
    padding: 10px auto 10px auto;
}

input#searchsubmit.btn{ 
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -48px 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}
#div_login {
    background: url(login-box.png) no-repeat;
    width: 366px;
    height: 190px;
    margin: 150px auto 0 auto;
	position: relative;
}
