
<div id="scrollbar1">
  <div class="scrollbar">
    <div class="track">
      <div class="thumb">
        <div class="end"></div>
      </div>
    </div>
  </div>
  <div class="viewport">
    <div class="overview  hero-unit">
      <h3>百度百科：负面新闻</h3>
      <div style="line-height: 140%; margin: 0px; width: 28px; float: left; color: #c74b15; font-size: 28px; font-weight: bolder; border: #000000 0px solid; padding: 0px;">定义：</div>
      <p>{$definition} </p>
    </div>
  </div>
</div>
