{debug}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="box5">
      <table width="60%" border="1">
        <tr>
          <th><h3><a href="?cid={$info.cid}">{$info.linkname}</a></h3></th>
        </tr>
        <tr>
          <td><span>来源: {$info.source}</span>&nbsp;<span>位置: <a href="?cmenu={$info.cate_id}">{$info.category}</a> / <a href="?iid={$info.iid}">{$info.item}</a> / </span>&nbsp;<span>时间: {$info.pubdate}</span></td>
        </tr>
        <tr>
          <td><span>阅读: {$info.clicks}</span>&nbsp;<span>关注: {$info.likes}</span>&nbsp;<span>标签: {$info.tags}</span></td>
        </tr>
        <tr>
          <td>{$info.content}</td>
        </tr>
        <tr>
          <td><a
href="{$info.url}">阅读全文</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
