{*debug*}
{$url={$SCRIPT_NAME}}
{*$url={$config.d}*}
{if $smarty.session.dixi.language != 'English'}

<div> {$cn=1}
  {foreach $aoa_tabs as $no => $tabs}
  
  {if $cn%2}
  <div class="row"> {/if}
    <div class="span6">
      <ul class="nav nav-tabs" id="Tab{$no}">
        {foreach $tabs as $tab}
        <li><a data-toggle="tab" href="#{$tab.curl}"><span class="head2">{$tab.name|lower|capitalize}</span></a></li>
        {/foreach}
      </ul>
      <div class="tab-content tab1" id="TabContent{$no}"> {foreach $tabs as $tab}
        <div id="{$tab.curl}" class="tab-pane fade">
          <p>{$tab.description}</p>
        </div>
        {/foreach} </div>
    </div>
    {if $cn%2}
    {$cn=$cn+1}
    {else} 
    {$cn=$cn+1} </div>
  {/if}
  {/foreach} </div>
<div class="row box2">
    <div id="myCarousel2" class="carousel slide">
      <div class="carousel-inner"> {foreach $carousel2 as $v}
        <div class="item">{$v}</div>
        {/foreach} </div>
      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a> </div>
</div>

{else}


<div> {$cn=1}
  {foreach $aoa_tabs as $no => $tabs}
  
  {if $cn%2}
  <div class="row"> {/if}
    <div class="span6">
      <ul class="nav nav-tabs" id="Tab{$no}">
        {foreach $tabs as $tab}
        <li><a data-toggle="tab" href="#{$tab.curl}"><span class="head2">{$tab.curl|lower|capitalize}</span></a></li>
        {/foreach}
      </ul>
      <div class="tab-content tab1" id="TabContent{$no}"> {foreach $tabs as $tab}
        <div id="{$tab.curl}" class="tab-pane fade">
          <p>{$tab.curl|lower|capitalize}</p>
        </div>
        {/foreach} </div>
    </div>
    {if $cn%2}
    {$cn=$cn+1}
    {else} 
    {$cn=$cn+1} </div>
  {/if}
  {/foreach} </div>
<div class="row box2">
    <div id="myCarousel2" class="carousel slide">
      <div class="carousel-inner"> {foreach $carousel2 as $v}
        <div class="item">{$v}</div>
        {/foreach} </div>
      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a> </div>
</div>
{/if}

<script type="text/javascript">
$(function() {
	for (var i=1; i<=6; i++) {
		$('ul.nav>li>a', '#Tab'+i).removeClass('active');
		//console.log($(('li', '#Tab'+i)).first().text());
		$('li', '#Tab'+i).first().addClass('active');
		var id = '#TabContent'+i;
		$('div'+id).find('div:first').addClass('active in');
		$('#Tab'+i).click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		});
	}
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});
	$('#js-news').ticker();

	$('#scrollbar1').tinyscrollbar();
	$('#myCarousel2.carousel').carousel({
	  interval: false
	});
	$('#myCarousel2 div.item').first().addClass('active');
	var hide = true;
	$('a span.more', '#div_items').click(function() {
		var t = $('#div_items');
		var t1 = $(this);
		if(hide) {
			t.animate({
				height: "100%",
			}, 2000, function(){ 
				t1.find('span').html('&laquo;');
				hide=false;
			});
		}
		else {
			t.animate({
				height: "240px",
			}, 1000, function(){ 
				t1.find('span').html('&raquo;');
				hide=true;
			});
		}
		return false;
	});
});
$(window).load(function() {
	$.getJSON('{$url}?js_get_tab_list=1', function(data) {
		//console.log($('#TabContent1.tab-content').find('div').first().html()+','+data.length);
		t = '<ul>';
		for(i=0; i<data.length; i++) {
			t+='<li class="tab_list"><i class="icon-chevron-right"></i>  <a href="d.php?cid='+data[i][0]+'">'+data[i][1]+'</a><span class="guanzhu"><span class="renshu">'+data[i][2]+'</span></span></li>';
		}
		t+='</ul>';
		$('#TabContent1.tab-content').find('div').first().html(t);
	});
	return false;
});
</script>
