<div class="hero-unit">
  <h2>{$info.title}</h2>
  <p style="margin:10px;padding:10px;">{$info.content}</p>
</div>
<div class="clear"></div>
<div id="affix">
  <hr class="hr1">
  <div class="row" style="margin-bottom:0px;">
    <ul class="pager">
      <li class="previous"> <a href="?cid={$info.previous.cid}">&larr; {$info.previous.linkname}</a> </li>
      <li class="next"> <a href="?cid={$info.next.cid}">{$info.next.linkname} &rarr;</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="span7">
      <ul id="keylist" class="pager">
        <li><span class="label label-warning"><i class="icon-tags icon-white"></i> 文章关键词:&nbsp;</span></li>
        {foreach $info.keywords as $k}
        <li><a href="#" class="keyword">{$k}</a></li>
        {/foreach}
      </ul>
    </div>
    <div class="span5" style="margin:0;padding:0">
      <form method="post" name="search" action="general.php"  class="form-search">
        <input type="text" placeholder="全文检索" name="key" class="input-medium search-query" autocomplete="off" />
        <button type="submit" class="btn btn-success"><i class="icon-white icon-search"></i> 搜&#12288;索</button>
      </form>
    </div>
  </div>
  {include file="../shared/pinglun.tpl.html"}
  <div class="row" style="margin-top:6px;">
    <div class="span7">
      <div class="label label-warning">相关评论</div>
      <div id="commentlist" class="accordion"> {if $info.comments}
        {foreach $info.comments as $i}
        <div class="accordion-group">
          <div class="accordion-heading"> <a href="#collapse_{$i.4}_{$i.0}" data-parent="#commentlist" data-toggle="collapse" class="accordion-toggle"> {$i.2} 于 {$i.3} </a> </div>
          <div class="accordion-body collapse in" id="collapse_{$i.4}_{$i.0}">
            <div class="accordion-inner"> {$i.1} </div>
          </div>
        </div>
        {/foreach}
        {/if} </div>
    </div>
    <div class="span5">
      <div class="label label-warning">相关推荐</div>
      <div id="recommadlist" class="accordion"> </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	$('a.knowmore', 'div.hero-unit').click(function(e) {
		$('#modal1').modal({ show:true });
		return false;
	});
	$('p,br', 'div.display_content').css('background-color', '#EEEEEE');
	$('a.keyword', 'div.container').click(function(e) {
		e.preventDefault();
		$('form.form-search').find('input[name=key]').val($(this).text());
		$('form.form-search').submit();
	});
	$(".collapse").collapse();
});
</script>
