{$url={$config.general}}
 {if {$info}}
<div class="span5 box5">
  <ul class="nav nav-pills nav-stacked">
    {$no=1}
    {foreach $info as $is}
    <li class="li3"><span class="badge badge-warning">{$no++}</span> <a href="{$url}?iid={$is.iid}&js_get_contents_list=1" title="{$is.description}">{$is.name}</a></li>
    {/foreach}
  </ul>
</div>
<div class="span6 box5" id="div_display" style="display:none;"> </div>
<div style="clear:both;"></div>
<script type="text/javascript">
  $(function() {
	$('li.li3 a').click(function(e) {
		e.preventDefault();
		var t = $(this).attr('href').replace(/&.*$/, '');
		$('#div_display').hide().load($(this).attr('href'), function() {
			$('#breadcrumb').load(t+'&js_get_breadcrumb=1');
		}).fadeIn(200);
		return false;
	});
	$('.pager1 a').each(function(){
	    if(!parseInt($(this).text())) $(this).addClass('bigPagerButton');
	});
});
</script>
{else}
<span class="btn btn-danger">没有相关记录</span>
{/if} 
