<div class="hero-unit">
  <div class="p_nav"><span class="p_name">网友留言</span></div>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="fayan">我也来说两句:</label>
      <div class="controls">
        <textarea style="height:75px;width:90%;border:1px solid #7f9db9; overflow:auto" id="fayan" name="fayan"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="image" src="../../images/postcomment.gif" border="0" width="131" height="29">
        &nbsp;
        <input type="text" style="font-size:0.8em;" class="login-yz" id="login_yz" name="login_yz">
        &nbsp;<img onclick="checkCode(this)" alt="点击刷新" title="点击刷新" style="cursor:pointer; " src="#">&nbsp;</div>
      <div class="b2">请文明上网，<a href="UserLogin.html">登录</a>发言并遵守相关规定 <a href="http://www.120v.cn/RegUser.html">立即注册</a></div>
    </div>
  </form>
</div>
