<div class="hero-unit" style="margin:0;padding:0;">
  <form class="form-horizontal">
    <legend>网友留言</legend>
    <div class="control-group">
      <label class="control-label" for="fayan">我也来说两句:</label>
      <div class="controls">
        <textarea style="height:75px;width:90%;border:1px solid #7f9db9; overflow:auto" id="fayan" name="fayan"></textarea>
      </div>
    </div>
    <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-warning">发表评论</button>
      <div class="b2">请文明上网，<a href="UserLogin.html">登录</a>发言并遵守相关规定 <a href="#">立即注册</a></div>
    </div>
  </form>
</div>
