<div class="hero-unit" style="margin:0;padding:0 0 6px 10px;">
  <form class="form-horizontal">
    <legend><span class="label label-warning">网友留言</span></legend>
    <div class="control-group">
      <label class="control-label" for="fayan">我也来说两句:</label>
      <div class="controls">
        <textarea style="height:75px;width:90%;border:1px solid #7f9db9; overflow:auto" id="fayan" name="fayan"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发表评论</button>
        <span>请文明上网，<a href="#">登录</a>发言并遵守相关规定 <a href="#">立即注册</a></span> </div>
    </div>
  </form>
</div>
