<div class="hero-unit" style="margin:0;padding:0 0 6px 10px;">
  <form class="form-horizontal" id="form_fayan">
    <legend><span class="label label-warning">网友留言</span></legend>
    <div class="control-group">
      <label class="control-label" for="fayan">我也来说两句:</label>
      <div class="controls">
        <textarea id="fayan" name="fayan" style="width:90%"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发表评论</button>
        <span>请文明上网，<a href="#">登录</a>发言并遵守相关规定 <a href="#">立即注册</a></span> </div>
    </div>
  </form>
</div>
<script type="text/javascript">
$(function() {
	var count = 1;
	var validator = $('#form_fayan').validate({
		rules: { "fayan": "required" },
		messages: { fayan: "" },
		highlight: function(label) {
			$(label).closest('.control-group').addClass('error');
		},
		success: function(label) {
			label.closest('.control-group').addClass('success');
		}	
	});
	$('button:submit', '#form_fayan').click(function(e) {
		e.preventDefault();		
		if(!validator.form()) {
			$('#fayan').attr('placeholder', '请输入您的评论。');
			$('#form_fayan').find('div.control-group').first().removeClass('success').addClass('error');
			return false;
		}

		var tid = 'collapse' + count++;
		
		$.post("general.php", $("#form_fayan").serialize() );
		
		var msg = '<div class="accordion-group">' + 
				'<div class="accordion-heading">' +
				' <a href="#' + tid + '" data-parent="#commentlist" data-toggle="collapse" class="accordion-toggle">' +
				'{$smarty.session.dixi.username} 于 {$smarty.now|date_format:"%Y-%m-%d %T"} </a>' +
				' </div> ' +
				 ' <div class="accordion-body collapse in" id="' + tid + '">' +
					'<div class="accordion-inner">' + $('#fayan').val() + '</div>' +
			  '</div>' +
			'</div>';
		$(msg).prependTo('#commentlist');
	});
	$(".collapse").collapse();
});
</script>
