<!--http://slide.sports.sina.com.cn/go/slide_2_820_33991.html-->
<div class="search_bar"> <span data-sudaclick="blk_modTags" class="mod_tags">标签: <a target="_blank" href="http://search.sina.com.cn/?c=img&amp;q=阿含桐山杯" title="阿含桐山杯">食品</a> <a target="_blank" href="http://search.sina.com.cn/?c=img&amp;q=古力" title="古力">从keywords表取最新的6条</a> </span>
  <form target="_blank" action="http://search.dixitruth.com/" method="get" class="unify_search">
    <input type="text" onBlur="if(this.value==''){this.className+=' gray';this.value='请输入关键词'}" onFocus="this.className='kw';if (this.value=='请输入关键词') {this.value=''}" value="请输入关键词" class="kw gray" name="q">
    <input type="submit" data-sudaclick="blk_searchSubmit" value="" class="sb">
    <input type="hidden" name="c" value="img">
    <input type="hidden" name="size" value="l">
  </form>
</div>
