<div class="page">
  <ul class="inline">
    <li><a href="http://www.chinafnews.com/news/jiankang/1.shtml">上一页</a></li>
    <li><a class="now" href="http://www.chinafnews.com/news/jiankang/1.shtml">1</a></li>
    <li><a href="http://www.chinafnews.com/news/jiankang/2.shtml">2</a></li>
    <li><a href="http://www.chinafnews.com/news/jiankang/3.shtml">3</a></li>
    <li><a href="http://www.chinafnews.com/news/jiankang/4.shtml">4</a></li>
    <li><a href="http://www.chinafnews.com/news/jiankang/2.shtml">下一页</a></li>
  </ul>
  <div class="clear"></div>
</div>
