{$url={$smarty.server.SCRIPT_NAME}}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<title>{$config.header.title}</title>
<meta name="description" content="{$config.header.desc}" />
<meta name="keywords" content="{$config.header.keywords}" />
<meta name="robots" content="{$config.header.robots}">
<link rel="stylesheet" type="text/css" href="{$config.css.jquery-ui}" media="screen" />
<link rel="stylesheet" type="text/css" href="{$config.css.bootstrap}" media="screen" />
<script type="text/javascript" src="{$config.js.jquery}"></script>
<script type="text/javascript" src="{$config.js.bootstrap}"></script>
<script type="text/javascript" src="{$config.js.gb_big5.js}"></script>
<script type="text/javascript" src="{$config.js.ga.js}"></script>
<script type="text/javascript">
$(function(){

});
$(window).load(function() {
  $('.flexslider').flexslider();
});
</script>
</head>
<body id="{$config.browser}">
<div class="container">
  <div id="header">
    <div class="span4"> logo </div>
    <div class="span4"> {include file="{$header_template}"} </div>
    <div class="span4"> {if {$login_template}}
      {include file="{$login_template}"} 
      {/if}</div>
  </div>
  <div class="row">
    <div id="banner"> {include file="{$login_template}"} </div>
  </div>
  <div class="row">
    <div class="span2">{include file="{$left_template}"}</div>
    <div class="span8">{include file="{$main_template}"}</div>
    <div class="span2">{include file="{$right_template}"}</div>
  </div>
  <div class="row">
    {include file="footer.tpl.html"}
  </div>
</div>
</body>
</html>
