{*debug*}
{$url={$SCRIPT_NAME}}
<script type="text/javascript">
$(function() {
	for (var i=1; i<=6; i++) {
		$('ul.nav>li>a', '#Tab'+i).removeClass('active');
		//console.log($(('li', '#Tab'+i)).first().text());
		$('li', '#Tab'+i).first().addClass('active');
		var id = '#TabContent'+i;
		$('div'+id).find('div:first').addClass('active in');
		$('#Tab'+i).click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		});
	}
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	});
	$('#js-news').ticker();
	
	$('div.tab-pane:first a', '#TabContent1.tab-content').live('click', function(e) {
		e.preventDefault();
		alert($(this).attr('href'));
		window.location.href = '{$url}?cid='+$(this).attr('href');
		return false;
	});
});
$(window).load(function() {
	$.getJSON('{$url}?js_get_tab_list=1', function(data) {
		//console.log(data);
		//console.log($('#TabContent1.tab-content').find('div').first().html()+','+data.length);
		t = '';
		for(i=0; i<data.length; i++) {
			t+='<a href="'+data[i][0]+'">'+data[i][1]+'</a><br>';
		}
		$('#TabContent1.tab-content').find('div').first().html(t);
	});
	return false;
});

</script>
<div style="margin-top:20px;margin-bottom:20px;"> {$cn=1}
  {foreach $aoa_tabs as $no => $tabs}
  
  {if $cn%2}
  <div class="row"> {/if}
    <div class="span6" style="padding-bottom:20px; padding-top:20px;">
      <ul class="nav nav-tabs" id="Tab{$no}">
        {foreach $tabs as $tab}
        <li><a data-toggle="tab" href="#{$tab}"><strong>{$tab}</strong></a></li>
        {/foreach}
      </ul>
      <div class="tab-content" id="TabContent{$no}"> {foreach $tabs as $tab}
        <div id="{$tab}" class="tab-pane fade">
          <p>{$tab}</p>
        </div>
        {/foreach} </div>
    </div>
    {if $cn%2}
    {$cn=$cn+1}
    {else} 
    {$cn=$cn+1} </div>
  {/if}
  {/foreach} </div>
<!------------------>
<style type="text/css">
#myCarousel2.thumbnails {
	margin-left:0px !important;
}
#myCarousel2.thumbnails > li > p {
	margin-bottom:0 !important;
	height: 200px;
	overflow:hidden;
}
#myCarousel2.thumbnails > li {
	margin-bottom: 8px !important;
	margin-left:4px !important;
}
#myCarousel2.carousel-control.left {
	left: -15px !important;
}
#myCarousel2.carousel-control.right {
	right: 25px !important;
}
</style>
<!--div class="row">
  <div class="span12">
    <div id="myCarousel2" class="carousel slide">
      <div class="carousel-inner"> {foreach $carousel2 as $c}
        <div class="item"><img src="{$c}" /></div>
        {/foreach} </div>
      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a> </div>
  </div>
</div-->
<div class="row">
  <div class="span12">
    <div id="myCarousel2" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item"> {$nails_first} </div>
        {foreach $carousel2 as $v}
        <div class="item">{$v}</div>
        {/foreach} </div>
      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a> </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
	$('#myCarousel2.carousel').carousel({
	  interval: false
	});
	$('#myCarousel2 div.item').first().addClass('active');
});
</script>
<!------------------>
<div class="row">
  <div class="span8">
    <div id="scrollbar1">
      <div class="scrollbar">
        <div class="track">
          <div class="thumb">
            <div class="end"></div>
          </div>
        </div>
      </div>
      <div class="viewport">
        <div class="overview  hero-unit">
          <h3>百度百科：负面新闻</h3>
          <div style="line-height: 140%; margin: 0px; width: 28px; float: left; color: #c74b15; font-size: 28px; font-weight: bolder; border: #000000 0px solid; padding: 0px;">定义：</div>
          <p>{$definition} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="span4"><img src="http://placehold.it/300x200" /> </div>
</div>
<script type="text/javascript">
$(function() {
	$('#scrollbar1').tinyscrollbar();
});
</script>
