{debug}
<!----------------------->
<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#home">绿色和平：中国煤电开发加剧水危机</a></li>
      <li><a data-toggle="tab" href="#profile">伦敦奥运：台湾的梦和中华台北的痛</a></li>
      <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">台湾话题 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a data-toggle="tab" href="#dropdown1">台湾拒香港保钓船进港补给</a></li>
          <li><a data-toggle="tab" href="#dropdown2">台湾保钓取消</a></li>
        </ul>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div id="home" class="tab-pane fade in active">
        <p>国际环保组织绿色和平周二发布报告称，中国大规模开发煤电基地将进一步加剧缺水的危机。
          该报告的目的是从水资源供应的角度对中国“十二五”计划中煤电基地发展的合理性进行分析。
          
          中国政府正在建设16个新的大型煤电基地，计划2015年前，煤产量要每年增加22亿吨以满足中国日益增长的用电需求。
          16个大型煤电基地大部分建在中国西北省份内蒙、陕西、山西和宁夏。
          在题为《噬水之煤 – 煤电基地开发与水资源研究》的报告中，绿色和平指出，到2015年，中国煤电的大规模开发每年将消耗至少近100亿立方米的水，这将加剧西部省区已经显现的缺水危机。
          绿色和平气候与能源项目主任孙庆伟说，“按照目前的趋势，到2015年，这些大型煤电基地及其上下游产业链将会用掉四分之一条黄河的可分配水量。也就是说，全国16个大型煤电基地每天用掉的水相当于2012年北京城区日供水能力的9倍”。
          绿色和平的研究指出，如此巨大的耗水量将导致中国西北省份水资源需求和供给缺口巨大，如不调整规划，将导致严重的水资源危机。</p>
      </div>
      <div id="profile" class="tab-pane fade">
        <p>挥别伦敦奥运，许多台湾的选手黯然离开，一银一铜的成绩虽不是历来最差，但是难掩失望。
          其实奥运夺牌只是很多台湾民众的梦之一，台湾民众最大的“梦”可能是旗与歌的问题。
          
          伦敦摄政街商家协会撤下青天白日满地红旗，立即在此一敏感的问题推上了台面。
          “撤旗事件”引爆了旅英台侨和留学生的不满情绪，立即筹办多项抗议活动。
          当年由于大部分国家因承认中华人民共和国代表中国而抵制台湾以中华民国名义参加奥运项目比赛、并决议将台湾排除在奥运之外。
          国际奥委会与台湾的奥委会在1981年达成“洛桑协议”，以中华台北名义、持中华奥委会会旗、赢得奖牌时则奏国旗歌。
          虽然这种所谓的“奥运模式”成了后来台湾加入许多国际组织的折衷方式，只不过对台湾民众而言“实在难以接受”。</p>
      </div>
      <div id="dropdown1" class="tab-pane fade">
        <p>台湾的马公港及台中港拒绝让香港保钓船＂启丰二号＂进港补给，海巡署并派出舰艇登船检查要求驶离。
          海巡署发布的声明说，启丰二号在周二上午向澎湖马公港要求进港补给，马公港以该船未经合法申请不予同意；其午后又以油料不足理由要求进入台中港，台中港务局及渔业署也以同样理由未予准许。
          海巡署声明称启丰二号违反了台湾法律的港澳关系条第二十四条的规定。此一规定条文是港澳船舶得依法令规航行至台湾地区，但有危害台湾地区安全，公共秩序或利益及其它一些规定情形者，得限制或禁止。</p>
      </div>
      <div id="dropdown2" class="tab-pane fade">
        <p>台湾保钓取消
          
          启丰二号原本计划与台湾的中华保钓会共同前往钓鱼台海域，但据海巡署说，台湾的保钓人士活动已取消。
          海巡署的声明说，台湾中华保钓会四名成员，午后原欲搭＂大发268号＂渔船从宜兰梗枋渔港出海，前往钓鱼台从事保钓活动，因未获船主同意租借该船，其取消本次保钓活动。
          台媒中央社则引述中华保钓会成员殷必雄说，因没有民间船只愿意载他们到钓鱼台附近海域，其承租＂大发268号＂渔船出海目的，是将相关物资送给启丰二号。
          殷必雄称其受到多方打压，并被中央社引述说其感到＂愤怒＂与＂悲愤＂。
          台海巡署的声明则说，中华保钓会人士取消此次活动，纯因租借渔船未获船主同意，海巡署及相关单位从未介入阻挠，有关其＂打压＂与＂封港＂之说絶非事实。</p>
      </div>
    </div>
  </div>
</div>
<p></p>
<!------------------>
<style type="text/css">
.thumbnails {
	margin-left:0px !important;
}
.thumbnails > li > p {
	margin-bottom:0 !important;
	height: 200px;
	overflow:hidden;
}
.thumbnails > li {
	margin-bottom: 8px !important;
	margin-left:4px !important;
}
.carousel-control.left {
	left: -15px !important;
}
.carousel-control.right {
	right: 25px !important;
}
</style>
  <div class="span12">
    <div id="myCarousel2" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          {$nails_first}
        </div>
        {foreach $nails_rest as $v}
	        <div class="item">{$v}</div>
        {/foreach}
      </div>
      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a> </div>
  </div>
<!------------------>
<script type="text/javascript">
$(function() {
	$('#myCarousel2.carousel').carousel({
	  interval: false
	});
});
</script>
<p></p>
<script type="text/javascript">
$(function () {
  $('#js-news').ticker();
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
});
</script>
