{$url={$SCRIPT_NAME}}
<div class="row">
  <div class="span12">
    <div class="btn-group"> {foreach $menu as $m}
      <button class="btn">{$m}</button>
      {/foreach} </div>
  </div>
</div>
<!-------------------->
<div>
  <ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">这里可以循环显示RSS Feed 新闻。</a></li>
    <li class="news-item"><a href="#">或者，用户输入的最新查询关键词。</a></li>
    <li class="news-item"><a href="#">或者，根据tab,rank,time所得到的排名。</a></li>
    <li class="news-item"><a href="#">或者，一些热点，焦点短新闻，或讨论，或者，从微博来的即时信息。</a></li>
    <li class="news-item"><a href="#">或者，任何简短的提示，或帮助信息。</a></li>
  </ul>
</div>
<!-------------------->
<div class="row">
  <div class="span4">
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner"> {foreach $carousel1 as $c}
        <div class="item"><img src="{$c}" />
          <div class="caption">
            <h5>食品卫生</h5>
            <p>食品卫生实例</p>
          </div>
        </div>
        {/foreach} </div>
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a> <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> </div>
  </div>
  <div class="span4">
    <form class="well form-search">
      <!--ul>
    <li class="selected">所有栏目</li>
    <li>食品</li>
    <li>药物</li>
    <li>质量</li>
    <li>医疗</li>
    <li>禁忌</li>
    <li>科技</li>
  </ul-->
      <input type="text" class="input-medium search-query" id="typeahead" data-provide="typeahead" autocompltete="off" placeholder="查询..." />
      <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</button>
    </form>
  </div>
  <!-------------------->
</div>
<script language="javascript" type="text/javascript">
$(function() {
    $('#myCarousel.carousel').carousel();
	$('#myCarousel').find('div.item').first().addClass('active');
	
	$('#typeahead').typeahead({
		source: function(typeahead, query) {
			//空字符不发送请求。
			if(query.length==0) return false;
			$.ajax({
				url: 'keys_search.php',
				type: 'GET',
				data: 'q=' + query,
				dataType: 'JSON',
				async: false,
				cache: false,
				beforeSend: function(){
				},
				success: function(data) {
					console.log(data);
					typeahead.process(data);
				}
			});
		}
	});

	//'top': parseFloat(parseFloat(p.top)+30)+'px'})
	$('#searchSelected.searchSelected').click(function(e) {
		var p = $(this).position();
		// alert(p.left+", " + p.top);
		e.preventDefault();
		$('#searchTab.searchTab').css({
			'left': p.left,
			'top': p.top})
		.toggle();
  		$('#searchTab.searchTab ul li').each(function() {
			var sli = $(this);
			sli.click(function() {
				$('#searchSelected').text($(this).text());
				$(this).siblings().removeClass('selected');
				$(this).addClass('selected');
				$('#searchTab.searchTab').hide();
				$('#typeahead').focus();
				return false;
			});
		});
	});

});
</script>
